@model IEnumerable<VTWebsite.Models.Member_List>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/JP/_Layout_Wiki.cshtml";
    int n = 0;

}

<title>キャラクター紹介 VTWiki_People</title>

<header class="lay-wiki-people-head">
    <div class="lay-wiki-people-head-border">
        <div class="lay-wiki-people-head-flex">
            <button class="lay-wiki-people-head-HL wiki-people-tab-btn" data-id="People_Hololive">Hololive</button>
            <button class="lay-wiki-people-head-NJ wiki-people-tab-btn" data-id="People_Nijisanji">Nijisanji</button>
        </div>
    </div>
</header>

<div class="lay-wiki-people-HL-members">
    <h1 class="lay-wiki-people-h1">Hololive</h1>
    <h1 class="lay-wiki-people-h2">Members</h1>
</div>

<div class="lay-wiki-people-NJ-members">
    <h1 class="lay-wiki-people-h1">Nijisanji</h1>
    <h1 class="lay-wiki-people-h2">Members</h1>
</div>


<section>
    @* -------------------------------------Hololive----------------------------------------- *@

    <div class="lay-wiki-people-section-flex lay-wiki-people-content lay-wiki-people-active" id="People_Hololive">

        @foreach (var item in Model)
        {
            if (item.org == "hololive")
            {

                if (n % 5 == 0)
                {
                    <div class="lay-wiki-people-section-mb">
                        @* 外距 *@
                        <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                            <div class="lay-wiki-people-section-content">
                                @* 內容 *@
                                <div class="lay-wiki-people-section-img"><img src="~/Photo/HL/@item.path" alt="Alternate Text" /></div>
                                <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                            </div>@* 內容 *@
                        </a>
                    </div>@* 外距 *@
                    n += 1;
                }
                else if (n % 5 == 1)
                {
                    <div class="lay-wiki-people-section-mt lay-wiki-people-PC-ml lay-wiki-people-MB-ml">
                        @* 外距 *@
                        <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                            <div class="lay-wiki-people-section-content">
                                @* 內容 *@
                                <div class="lay-wiki-people-section-img"><img src="~/Photo/HL/@item.path" alt="Alternate Text" /></div>
                                <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                            </div>@* 內容 *@
                        </a>
                    </div>@* 外距 *@
                    n += 1;
                }
                else if (n % 5 == 2)
                {
                    <div class="lay-wiki-people-section-mb lay-wiki-people-PC-ml">
                        @* 外距 *@
                        <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                            <div class="lay-wiki-people-section-content">
                                @* 內容 *@
                                <div class="lay-wiki-people-section-img"><img src="~/Photo/HL/@item.path" alt="Alternate Text" /></div>
                                <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                            </div>@* 內容 *@
                        </a>
                    </div>@* 外距 *@
                    n += 1;
                }
                else if (n % 5 == 3)
                {
                    <div class="lay-wiki-people-section-mt lay-wiki-people-PC-ml lay-wiki-people-MB-ml">
                        @* 外距 *@
                        <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                            <div class="lay-wiki-people-section-content">
                                @* 內容 *@
                                <div class="lay-wiki-people-section-img"><img src="~/Photo/HL/@item.path" alt="Alternate Text" /></div>
                                <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                            </div>@* 內容 *@
                        </a>
                    </div>@* 外距 *@
                    n += 1;
                }
                else if (n % 5 == 4)
                {
                    <div class="lay-wiki-people-section-mb lay-wiki-people-PC-ml">
                        @* 外距 *@
                        <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                            <div class="lay-wiki-people-section-content">
                                @* 內容 *@
                                <div class="lay-wiki-people-section-img"><img src="~/Photo/HL/@item.path" alt="Alternate Text" /></div>
                                <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                            </div>@* 內容 *@
                        </a>
                    </div>@* 外距 *@
                    n += 1;
                }
            }
        }

    </div>

    @* -------------------------------------Nijisanji----------------------------------------- *@

<div class="lay-wiki-people-section-flex lay-wiki-people-content" id="People_Nijisanji">

    @foreach (var item in Model)
    {
        if (item.org == "nijisanji")
        {

            if (n % 5 == 0)
            {
                <div class="lay-wiki-people-section-mb">
                    @* 外距 *@
                    <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                        <div class="lay-wiki-people-section-content">
                            @* 內容 *@
                            <div class="lay-wiki-people-section-img"><img src="~/Photo/NJ/@item.path" alt="Alternate Text" /></div>
                            <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                        </div>@* 內容 *@
                    </a>
                </div>@* 外距 *@
                n += 1;
            }
            else if (n % 5 == 1)
            {
                <div class="lay-wiki-people-section-mt lay-wiki-people-PC-ml lay-wiki-people-MB-ml">
                    @* 外距 *@
                    <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                        <div class="lay-wiki-people-section-content">
                            @* 內容 *@
                            <div class="lay-wiki-people-section-img"><img src="~/Photo/NJ/@item.path" alt="Alternate Text" /></div>
                            <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                        </div>@* 內容 *@
                    </a>
                </div>@* 外距 *@
                n += 1;
            }
            else if (n % 5 == 2)
            {
                <div class="lay-wiki-people-section-mb lay-wiki-people-PC-ml">
                    @* 外距 *@
                    <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                        <div class="lay-wiki-people-section-content">
                            @* 內容 *@
                            <div class="lay-wiki-people-section-img"><img src="~/Photo/NJ/@item.path" alt="Alternate Text" /></div>
                            <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                        </div>@* 內容 *@
                    </a>
                </div>@* 外距 *@
                n += 1;
            }
            else if (n % 5 == 3)
            {
                <div class="lay-wiki-people-section-mt lay-wiki-people-PC-ml lay-wiki-people-MB-ml">
                    @* 外距 *@
                    <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                        <div class="lay-wiki-people-section-content">
                            @* 內容 *@
                            <div class="lay-wiki-people-section-img"><img src="~/Photo/NJ/@item.path" alt="Alternate Text" /></div>
                            <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                        </div>@* 內容 *@
                    </a>
                </div>@* 外距 *@
                n += 1;
            }
            else if (n % 5 == 4)
            {
                <div class="lay-wiki-people-section-mb lay-wiki-people-PC-ml">
                    @* 外距 *@
                    <a href="@Url.Action("VTWiki_Members", "JP", new { id = item.yt_channel_name, org = item.org })">
                        <div class="lay-wiki-people-section-content">
                            @* 內容 *@
                            <div class="lay-wiki-people-section-img"><img src="~/Photo/NJ/@item.path" alt="Alternate Text" /></div>
                            <div class="lay-wiki-people-section-font"><span> @Html.DisplayFor(modelItem => item.yt_channel_name)</span></div>
                        </div>@* 內容 *@
                    </a>
                </div>@* 外距 *@
                n += 1;
            }
        }
    }



</div>
</section>
